html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

$padding-horizontal: 1.0rem;
$padding-vertical: 0.5rem;
$header-height: 2.5rem;

body {
    font-family: 'Hind Vadodara', sans-serif;
}

header {
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100%;

    margin: 0 auto;
    padding: 0 $padding-horizontal;
    background-color: darkcyan;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 120%;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 110%;
}

button, select {
    font-size: 90%;
}

select {
    width: 12rem;
}

input {
    font-size: 95%;
}

.side {
    position: fixed;
    top: $header-height;
    width: 100%;

    padding: 0 $padding-horizontal;
    background-color: lightgray;

    display: flex;
    justify-content: space-between;
}

.hidden_form {
    display: none;
}

.msg_container:hover {
    background-color: hsl(0, 0%, 90%);

    [class*="delete_"] {
        visibility: visible;
    }
}

[class*="delete_"] {
    visibility: hidden;
}

.msg_container {
    padding: 0.25rem $padding-horizontal;
    margin: 0;
}

.msg_sender {
    font-weight: bold;
}

.msg_time {
    font-size: 80%;
}

.msg_content {
    font-size: 95%;
}

.content {
    padding: 4.5rem 0;
}

footer {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    border-top: solid 1px black;
    background-color: white;

    input {
        height: 2.5em;
        width: 100%;
        padding: 0 $padding-horizontal;
    }

    input:focus {
        border: none;
    }

    button {
        display: none;
    }
}