html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

$padding-horizontal: 1.0rem;
$padding-vertical: 0.5rem;
$header-height: 2.5rem;

body {
    font-family: 'Hind Vadodara', sans-serif;
}

header {
    position: fixed;
    top: 0;
    height: $header-height;
    width: 100%;

    margin: 0 auto;
    padding: 0 $padding-horizontal;
    background-color: darkcyan;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 120%;
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 110%;
}

button, select {
    font-size: 90%;
}

input {
    font-size: 85%;
}

.side {
    position: fixed;
    top: $header-height;
    width: 100%;

    padding: 0 $padding-horizontal;
    background-color: lightgray;

    display: flex;
    justify-content: space-between;
}

.hidden_form {
    display: none;
}

.msg_container {
    margin: 0.5em 0;
}

.msg_sender {
    font-weight: bold;
}

.msg_time {
    font-size: 80%;
}

.msg_content {
    font-size: 95%;
}

.content {
    padding: 4.5rem $padding-horizontal;
}

footer {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: white;
    border-top: solid 0.5px gray;

    input {
        width: 100%;
        border: none;
    }

    button {
        display: none;
    }
}