{% extends 'boilerplate.html' %}

{% block side %}

    {% if session.user_signed_in %}

        <h2> Chat Channels </h2>

        <form class='channel_form'>
            <input type='text' id='channel' name='channel'>
            <button id='add'> Go </button>
        </form>

        <ul id='channels'> 
            {% for menuitem in chats %} 
                <li> {{ menuitem }} </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}

{% block signin %}

    {% if session.user_signed_in %}

        <h1> my spam </h1>
        <form id='signout_form' action='/signout' method='post'>
            <span> display name: {{ session.user_signed_in }} </span> <button>Logout</button>
        </form>

    {% else %}

        <h1> my spam </h1>
        <form id='signin_form' action='/signin' method='post'>
            <label for='user_id'>
                <span> display name: </span> <input id='userid' name='userid' type='text'/>
            </label>
            <button> Go </button>
        </form>

    {% endif %}

{% endblock %}
