{% extends 'boilerplate.html' %}

{% block javascript_includes %}

    <script 
        type='text/javascript' 
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
    </script>

    <script 
        type='text/javascript'
        src='{{ url_for("static", filename="mustache.js") }}'>
    </script>

    {% if session.user_signed_in %}

        <script 
            type='text/javascript'
            src='{{ url_for("static", filename="chat.js") }}'>
        </script>

        <script 
            type='text/javascript' 
            src='{{ url_for("static", filename="channel.js") }}'>
        </script>

        <script 
            type='text/javascript' 
            src='{{ url_for("static", filename="loader.js") }}'>
        </script>

        <script 
            type='text/javascript' 
            src='{{ url_for("static", filename="userlogout.js") }}'>
        </script>

    {% else %}
    
        <script 
            type='text/javascript' 
            src='{{ url_for("static", filename="userlogin.js") }}'>
        </script>

    {% endif %}

{% endblock %}

{% block side %}

    {% if session.user_signed_in %}

        <h2 id='channel_name'> channels </h2>

        <div>
            <select id='select_channel' style='display: inline-block'>
                {% for menuitem in chat_channels %} 
                    <option value='{{ menuitem }}'> {{ menuitem }} </option>
                {% endfor %}
            </select>
            <span>
                <form id='create_channel' style='display: inline-block'>
                    <span id='channel_create_fields' class='hidden_form'>
                        <input type='text' id='channel' name='channel'>
                        <button id='toggle_create'> Create </button>
                    </span>
                    <span> <button id='enable_channel_edit'> New </button> </span> 
                </form>
            </span>    
        </div>

    {% endif %}

{% endblock %}

{% block main %}

    {% if session.user_signed_in %}

    <div class='title'></div>
    <div class='content'>
        {% for msg in chat_history %}
        <div class='msg_container'>
            <div>
                <span class='msg_sender'> {{ msg.sender }} </span>
                <span class='msg_time'> {{ msg.mesg_time }} </span>
            </div>
            <div class ='msg_content'> {{ msg.content }} </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

{% endblock %}

{% block signin %}

    {% if session.user_signed_in %}

        <h1> my spam </h1>
        <form id='signout_form' action='/signout' method='post'>
            <span> user: </span>
            <span id='current_user'> {{ session.user_signed_in }} </span>
            <button> Logout </button>
        </form>

    {% else %}

        <h1> my spam </h1>
        <form id='signin_form' action='/signin' method='post'>
            <label for='userid'>
                <span> user: </span> <input id='userid' name='userid' type='text'/>
            </label>
            <button> Go </button>
        </form>

    {% endif %}

{% endblock %}

{% block work %}

    {% if session.user_signed_in %}

    <div class='message_form'>
        <form id='message_form' method='post'>
            <input id='message' type='text'/> <button id='send_message'> Send </button>
        </form>
    </div>

    {% endif %}
    
{% endblock %}