{% extends 'boilerplate.html' %}

{% block side %}

    {% if session.user_signed_in %}

        <ul>
            {% for menuitem in chats %} <li> {{ menuitem }} </li> {% endfor %}
        </ul>

    {% endif %}

{% endblock %}

{% block signin %}

    {% if session.user_signed_in %}

        <h1> my spam </h1>
        <form action='/signout' method='post'>
            <span> display name: {{ session.user_signed_in }} </span> <button>Logout</button>
        </form>

    {% else %}

        <h1> my spam </h1>
        <form action='/signin' method='post'>
            <label for='userid'>
                <span> display name: </span> <input id='userid' name='userid' type='text'/>
            </label>
            <button>Enter</button>
        </form>

    {% endif %}

{% endblock %}
