<script 
    type='text/javascript' 
    src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
</script>

<script 
    type='text/javascript'
    src='{{ url_for("static", filename="misc.js") }}'>
</script>

<script 
    type='text/javascript'
    src='{{ url_for("static", filename="mustache.js") }}'>
</script>

{% if session.user_signed_in %}

    <script 
        type='text/javascript'
        src='{{ url_for("static", filename="chat.js") }}'>
    </script>

    <script 
        type='text/javascript' 
        src='{{ url_for("static", filename="init.js") }}'>
    </script>

    <script 
        type='text/javascript' 
        src='{{ url_for("static", filename="logout.js") }}'>
    </script>

{% else %}

    <script 
        type='text/javascript' 
        src='{{ url_for("static", filename="login.js") }}'>
    </script>

{% endif %}
