
{% block signin %}

    {% if session.user_signed_in %}

        <h1> my spam </h1>
        <form id='signout_form' action='/signout' method='post'>
            <span> user: </span>
            <span id='current_user'> {{ session.user_signed_in }} </span>
            <button> Logout </button>
        </form>

    {% else %}

        <h1> my spam </h1>
        <form id='signin_form' action='/signin' method='post'>
            <label for='userid'>
                <span> user: </span> <input id='userid' name='userid' type='text'/>
            </label>
            <button> Go </button>
        </form>

    {% endif %}

{% endblock %}

