<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='{{ url_for("static", filename="styles.css") }}'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400'>
    {% block javascript_includes %} {% endblock %}
</head>
<body>
    <div class='primary'>
        <header> {% block signin %} {% endblock %} </header>
        <section class='side'> {% block side %} {% endblock %} </section>
        <section class='main'> {% block main %} {% endblock %} </section>
        <footer></footer>
    </div>
</body>
</html>
